<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">
<form class="form" role="form" id="register-form">
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon" style="color:#C05B40;background-color:rgba(248,226,189,0.3);border:0;" title="搜索"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" class="form-control" id="jaccount_email" />
			</div>
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="tel" placeholder="请输入手机号码" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon" style="color:#C05B40;background-color:rgba(248,226,189,0.3);border:0;" title="搜索"><span class="glyphicon glyphicon-search"></span></span>
				<input type="text" class="form-control" id="jaccount_email" />
			</div>
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="tel" placeholder="请输入手机号码" />
		</div>
	</div>	
</form>